.container {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(254, 250, 224);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
}

.header__container {
  margin-top: 36px;
  margin-bottom: 36px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 120px;
  padding-right: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(157, 177, 162)));
  background-image: linear-gradient(rgb(157, 177, 162) rgb(100, 121, 100));
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.additional__functions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant__logo {
  font-family: "Chonburi";
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  margin-right: 85px;
}

.navigation__item {
  font-family: "Cormorant";
  font-size: 22px;
  line-height: 1.2;
}

.navigation__item:not(:last-child) {
  margin-right: 90px;
}

.nav__link {
  color: rgb(255, 255, 255);
}

.change__lang {
  background-color: inherit;
  border: none;
  margin-right: 37px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
  font-family: "Montserrat";
  cursor: pointer;
}

.lang {
  color: black;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 37px;
}

.input__field {
  width: 213px;
  height: 40px;
  padding-left: 25px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.btn__search {
  position: absolute;
  top: 25%;
  right: 27px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.icon-shop-basket {
  margin-right: 37px;
  cursor: pointer;
}

.btn__reservation {
  width: 180px;
  height: 48px;
  border: 1px solid rgb(245, 194, 101);
  font-family: "Cormorant";
  font-size: 20px;
  font-weight: 700;
}

.hero__section {
  width: 1920px;
  height: 948px;
  padding-top: 131px;
  padding-bottom: 135px;
  margin-bottom: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(216, 213, 196);
  background-image: url("../../../images/hero.jpg");
}

.title__welcome_to {
  display: block;
  font-family: "Cormorant";
  font-size: 92px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  margin-bottom: 40px;
}

.title__main {
  display: block;
  font-family: "Chonburi";
  font-weight: 400;
  font-size: 142px;
  line-height: 1.2;
  color: rgb(51, 51, 51);
}

.hero__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__btn {
  width: 300px;
  height: 75px;
  text-align: center;
  background-color: rgb(245, 194, 101);
  border: 1px solid rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: 20px;
  margin-right: 20px;
}

.our_history {
  height: 950px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.text_history_wrapper {
  width: 850px;
  margin-left: 120px;
}

.our_history__title {
  font-family: "Cormorant";
  font-size: 82px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 45px;
}

.our_history__text {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 30px;
}

.text__second {
  margin-bottom: 100px;
}

.losung__wrapper {
  width: 438px;
  text-align: center;
  margin-left: 316px;
}

.our_history_losung {
  font-family: "Cormorant";
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  text-align: center;
  margin-bottom: 150px;
}

.our_history__btn_about_us {
  width: 300px;
  height: 75px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  background-color: rgb(245, 194, 101);
  border: 1px solid rgb(153, 153, 153);
}

.dish__left__img {
  position: absolute;
  top: 434px;
}

.interior__img {
  position: absolute;
  top: 0;
  right: 0;
}

.dish__right__img {
  position: absolute;
  bottom: 0;
  right: 437px;
}

.menu__section {
  margin-bottom: 100px;
}

.menu_dishes__wrapper {
  min-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.container__slider {
  min-width: 1440px;
  margin-left: 190px;
  overflow: hidden;
}

.slider {
  width: 400px;
  height: 490px;
}

.menu__slider-line {
  height: 490px;
  width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  gap: 118px;
  left: 0;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
}

.btn__arrow_right {
  position: absolute;
  top: 50%;
  right: 0;
}

.menu__title {
  font-family: "Cormorant";
  font-size: 82px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  margin-bottom: 45px;
}

.menu__btn_menu {
  width: 300px;
  height: 75px;
  text-align: center;
  background-color: rgb(245, 194, 101);
  border: 1px solid rgb(153, 153, 153);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 100px;
}

.special-dishes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_slider {
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */