.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #F5F5F5;
}

.section {
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 100px;
  }
}

.current_page_wrapper {
  margin-left: 75px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.current_page_home {
  font-family: "Cormorant";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 300;
}

.current_page {
  font-weight: 700;
  border-bottom: 1.5px solid black;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(111, 153, 120);
  height: 123px;
}
@media screen and (min-width: 1440px) {
  .header__container {
    margin-top: 36px;
    margin-bottom: 36px;
    height: 58px;
  }
}

@media screen and (max-width: 1439.98px) {
  .header_desktop {
    display: none;
  }
}

.header_mob-tab {
  position: relative;
}
@media screen and (min-width: 1440px) {
  .header_mob-tab {
    display: none;
  }
}

.header_mob-tab.open .menu__wrapper_mob-tab {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header_mob-tab.open .icon-burger-menu_mob-tab {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: rgb(252, 185, 63);
}

.header_mob-tab .icon-burger-menu_mob-tab {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: white;
}

.menu__wrapper_mob-tab {
  padding: 25px;
  width: 100%;
  background-color: rgb(243, 236, 223);
  position: absolute;
  top: 100%;
  left: 100%;
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
}

.header_mob-menu_close-btn {
  margin-left: auto;
  display: block;
  background-color: transparent;
}

.icon-close-mobmenu:active {
  fill: black;
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1439.98px) {
  .navigation__wrapper {
    display: none;
  }
}

@media screen and (max-width: 1439.98px) {
  .navigation__list {
    display: block;
    height: 100vh;
  }
}
@media screen and (min-width: 1440px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.additional__functions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1439.98px) {
  .additional__functions__wrapper {
    display: none;
  }
}

.restaurant__logo {
  font-family: "Chonburi";
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .restaurant__logo {
    font-size: 45px;
  }
}

.header_icons_list_mob-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header_icons_list_mob-tab {
    width: 190px;
  }
}

@media screen and (min-width: 768px) {
  .icon-shop-basket_mob-tab {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .icon-search_mob-tab {
    width: 30px;
    height: 30px;
  }
}

.icon-burger-menu_mob-tab {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .icon-burger-menu_mob-tab {
    width: 60px;
    height: 60px;
  }
}

.navigation__item {
  font-size: 44px;
  font-family: "Cormorant";
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .navigation__item {
    font-size: 22px;
    margin-bottom: 0;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 30px;
}

.nav__link {
  color: rgb(34, 34, 34);
  font-weight: 700;
}
@media screen and (min-width: 1440px) {
  .nav__link {
    color: rgb(255, 255, 255);
  }
}

.nav__link_current {
  color: rgb(252, 185, 63);
}

.change__lang {
  background-color: inherit;
  border: none;
  margin-right: 37px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid white;
  font-family: "Montserrat";
  cursor: pointer;
}

.lang {
  color: black;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 32px;
}

.input__field {
  width: 213px;
  height: 40px;
  padding-left: 25px;
  padding-right: 50px;
  font-size: 14px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
}

.btn__search {
  position: absolute;
  top: 25%;
  right: 27px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (min-width: 1440px) {
  .icon-shop-basket {
    margin-bottom: 0px;
    margin-right: 32px;
    cursor: pointer;
  }
}

.btn__reservation {
  width: 170px;
  height: 48px;
  border: 1px solid rgb(245, 194, 101);
  font-family: "Cormorant";
  font-size: 20px;
  font-weight: 700;
}

.hero__section {
  max-width: 480px;
  min-height: 805px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid rgb(214, 214, 214);
}
@media screen and (min-width: 768px) {
  .hero__section {
    max-width: 768px;
    min-height: 816px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__section {
    max-width: 1440px;
    min-height: 300px;
    padding: 0;
  }
}
.hero__section .hero_mob-tab_wrapper {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .hero__section .hero_mob-tab_wrapper {
    display: none;
  }
}
.hero__section .hero_plate_mob-tab_img {
  margin-left: auto;
  margin-right: auto;
}
.hero__section .hero_desktop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1439.98px) {
  .hero__section .hero_desktop_wrapper {
    display: none;
  }
}
.hero__section .hero_desktop_left-part {
  padding-top: 95px;
  padding-bottom: 95px;
  width: 44%;
  padding-left: 75px;
}

.hero_desktop_right-part {
  position: relative;
}

@media screen and (min-width: 480px) {
  .hero_title_wrapper {
    display: none;
  }
}

.hero__title {
  font-family: "Chonburi";
  font-weight: 400;
  line-height: 1.2;
  font-size: 36px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 43px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    margin-bottom: 70px;
  }
}

.title__main {
  font-size: 110px;
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
  display: block;
}

.title_second {
  font-size: 70px;
}

.hero_losung {
  font-family: "Cormorant";
  line-height: 1.2;
  margin-bottom: 30px;
  font-size: 24px;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .hero_losung {
    font-size: 30px;
    width: 638px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_losung {
    font-size: 30px;
    margin-left: 0;
    margin-bottom: 100px;
    width: 500px;
  }
}

.hero_dishes-wrapper_mob-tab_imgs {
  margin-bottom: 43px;
}

.hero_losung_highlights {
  color: rgb(219, 153, 1);
}

.hero__btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (min-width: 1440px) {
  .hero__btn-wrapper {
    width: 530px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__btn {
  width: 210px;
  height: 60px;
  text-align: center;
  background-color: rgb(252, 185, 63);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .hero__btn {
    width: 280px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    width: 250px;
  }
}

@-webkit-keyframes dishesImgAnimation {}

@keyframes dishesImgAnimation {}
.hero_dishes_in_plate_wrapper {
  position: absolute;
  top: 100px;
  left: 115px;
}

.our_history {
  background-color: #FFFFFF;
  max-width: 480px;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .our_history {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .our_history {
    max-width: 1440px;
  }
}

.history_mob-tab_wrapper {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .history_mob-tab_wrapper {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .mob-tab-head_container {
    display: none;
  }
}

.our_history__title {
  font-family: "Cormorant";
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media screen and (min-width: 480px) {
  .our_history__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 768px) {
  .our_history__title {
    font-size: 47px;
  }
}
@media screen and (max-width: 1439.98px) {
  .our_history__title {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .our_history__title {
    font-size: 72px;
    margin-bottom: 45px;
  }
}

.our_history__text {
  display: block;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .our_history__text {
    font-size: 19px;
  }
}
@media screen and (min-width: 1440px) {
  .our_history__text {
    font-size: 20px;
  }
}

.history_mob-tab_imgs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 320px;
  max-width: 480px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .history_mob-tab_imgs_list {
    max-width: 768px;
  }
}

.history_desctop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1439.98px) {
  .history_desctop_wrapper {
    display: none;
  }
}

.our_history__left_part {
  width: 640px;
  position: relative;
}

.text__second {
  margin-bottom: 100px;
}

.losung__wrapper {
  width: 388px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.our_history_losung {
  font-family: "Cormorant";
  font-size: 26px;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  text-align: center;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .our_history_losung {
    font-size: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .our_history_losung {
    font-size: 36px;
    margin-bottom: 100px;
  }
}

.our_history__btn_about_us {
  width: 250px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  background-color: rgb(252, 185, 63);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .our_history__btn_about_us {
    height: 75px;
    margin-left: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.dish__left__img {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (min-width: 1440px) {
  .dish__left__img {
    position: absolute;
    top: 434px;
    left: -75px;
  }
}

.interior__img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.history_right_imgs_wrapper {
  position: relative;
}

.dish__right__img {
  position: absolute;
  bottom: 0;
  right: 330px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.history_desktop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1439.98px) {
  .history_desktop_wrapper {
    display: none;
  }
}

.menu__section {
  background-color: #FFFFFF;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .menu__section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__section {
    max-width: 1440px;
  }
}

.menu_container {
  text-align: center;
}

.menu__title {
  font-family: "Cormorant";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(34, 34, 34);
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .menu__title {
    font-size: 47px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .main_menu_img {
    margin-bottom: 20px;
  }
}

.menu_dishes__wrapper {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .menu_dishes__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 55px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) {
  .menu_dishes__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
  }
}

.menu__btn_menu {
  width: 230px;
  height: 60px;
  text-align: center;
  background-color: rgb(252, 185, 63);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .menu__btn_menu {
    width: 300px;
    height: 75px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .menu__btn_menu {
    margin-bottom: 90px;
  }
}

.special-dishes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .special-dishes__wrapper {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .special-dishes__wrapper {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1439.98px) {
  .desktop__picture {
    display: none;
  }
}

.btn_slider {
  background-color: transparent;
}
@media screen and (max-width: 1439.98px) {
  .btn_slider {
    display: none;
  }
}

.terms_of_delivery__section {
  background-color: #FFFFFF;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .terms_of_delivery__section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .terms_of_delivery__section {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1439.98px) {
  .delivery_wrapper_right {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .terms_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1290px;
    position: relative;
  }
}

.terms_title {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .terms_title {
    font-size: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .terms_title {
    font-size: 62px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1440px) {
  .delivery_wrapper_left {
    width: 530px;
  }
}

.text_description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .text_description {
    font-size: 20px;
  }
}
@media screen and (max-width: 1439.98px) {
  .text_description {
    text-align: center;
  }
}

@media screen and (max-width: 1439.98px) {
  .text_description_second, .text_description_third {
    display: none;
  }
}

.text_description:not(:last-child) {
  margin-bottom: 35px;
}

.text_description:last-child {
  margin-bottom: 90px;
}

.delivery_terms_losung {
  display: block;
  width: 480px;
  font-family: "Cormorant";
  font-size: 34px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 70px;
}
@media screen and (max-width: 1439.98px) {
  .delivery_terms_losung {
    display: none;
  }
}

.btn_delivery-payment {
  width: 250px;
  height: 75px;
  background-color: rgb(252, 185, 63);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.delivery_mob-tab_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .delivery_mob-tab_numbers {
    width: 510px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .delivery_mob-tab_wrapper {
    display: none;
  }
}

.delivery_mob-tab_icon_description {
  text-align: center;
  padding-bottom: 35px;
  margin-bottom: 35px;
  margin-top: 25px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .delivery_mob-tab_icon_description {
    width: 366px;
    margin-left: auto;
    margin-right: auto;
  }
}

.delivery_mob-tab_add_info {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  margin-bottom: 45px;
}

.terms_icon_wrapper {
  width: 270px;
  height: 250px;
  border: 1px solid rgb(214, 214, 214);
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.wrapper_order {
  position: absolute;
  right: 427px;
  top: 0;
}

.wrapper_payment {
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper_packing {
  position: absolute;
  right: 542px;
  top: 370px;
}

.wrapper_delivery {
  position: absolute;
  top: 370px;
  right: 152px;
}

.delivery_number_step {
  font-family: "Cormorant";
  font-weight: 700;
  line-height: 1.2;
  font-size: 82px;
  color: rgb(132, 157, 138);
}

@media screen and (max-width: 1439.98px) {
  .step_01 {
    border-bottom: 3px solid black;
    color: black;
  }
}
@media screen and (min-width: 1440px) {
  .step_01 {
    position: absolute;
    right: 380px;
    top: -50px;
  }
}

.step_02 {
  position: absolute;
  right: 270px;
  top: 150px;
}

.step_03 {
  position: absolute;
  right: 500px;
  top: 292px;
}

.step_04 {
  position: absolute;
  right: 85px;
  top: 465px;
}

.terms_icon {
  margin-bottom: 15px;
}

.terms_icon-order, .terms_icon-payment {
  margin-top: 37px;
}

.terms_icon-packing, .terms_icon-delivery {
  margin-top: 27px;
}

.title_delivery_step {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
}

.delivery_step_description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2;
}

.reservation_section {
  background-color: #FFFFFF;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .reservation_section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .reservation_section {
    max-width: 1440px;
  }
}

@media screen and (min-width: 480px) {
  .reservation_wrapper {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .reservation_wrapper {
    position: relative;
  }
}

.reservation_title {
  font-family: "Cormorant";
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 25px;
  font-size: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .reservation_title {
    font-size: 47px;
  }
}
@media screen and (min-width: 1440px) {
  .reservation_title {
    font-size: 72px;
    margin-bottom: 35px;
    text-align: start;
  }
}

@media screen and (min-width: 1440px) {
  .reservation_flex_wrapper_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.reserve_schedule_mob-tab {
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .reserve_schedule_mob-tab {
    display: none;
  }
}

@media screen and (max-width: 1439.98px) {
  .reserve_schedule_desktop {
    display: none;
  }
}

@media screen and (max-width: 1439.98px) {
  .fork_img {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .fork_img {
    position: absolute;
    top: -5px;
    left: 650px;
  }
}

.reserve_form {
  max-width: 480px;
  min-height: 530px;
  border: 2px solid rgb(90, 110, 90);
  border-radius: 10px;
  background-color: rgb(254, 250, 224);
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .reserve_form {
    max-width: 594px;
    height: 656px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .reserve_form {
    max-width: 780px;
    min-height: 480px;
    padding: 40px;
    margin: 0;
    z-index: 55;
  }
}

@media screen and (min-width: 480px) {
  .inputs_wrapper {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .inputs_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.inputs_group {
  border: none;
  padding: 0;
}

.reservation_input_wrapper {
  height: 65px;
  margin-bottom: 20px;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .reservation_input_wrapper {
    margin-bottom: 25px;
    height: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .reservation_input_wrapper {
    margin-bottom: 40px;
  }
}

.resrev_icon {
  position: absolute;
  top: 20px;
  right: 21px;
  cursor: pointer;
}

.reservation_input {
  width: 100%;
  height: 65px;
  padding-left: 13px;
  padding-right: 45px;
  border-radius: 5px;
  border: 1px solid rgb(132, 157, 138);
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1440px) {
  .reservation_input {
    width: 310px;
  }
}

.reservation_input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.reservation_input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.reservation_input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.reservation_input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.reservation_input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  font-family: "Montserrat";
}

.btn_submit_form_reservation {
  width: 250px;
  height: 75px;
  background-color: rgb(252, 185, 63);
  border: 1px solid rgb(153, 153, 153);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1440px) {
  .reserve_btn-mob-tab {
    display: none;
  }
}

@media screen and (max-width: 1439.98px) {
  .reserve_btn-desktop {
    display: none;
  }
}

.title_schedule {
  font-family: "Cormorant";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .title_schedule {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .title_schedule {
    font-size: 60px;
    margin-bottom: 35px;
  }
}

.schedule_item:not(:last-child) {
  margin-bottom: 35px;
}
@media screen and (min-width: 480px) {
  .schedule_item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.works_days {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .works_days {
    font-size: 28px;
  }
}
@media screen and (min-width: 1440px) {
  .works_days {
    font-size: 24px;
  }
}

.works_hours {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .works_hours {
    font-size: 25px;
  }
}

.works_hours:not(:last-child) {
  margin-bottom: 3px;
}

.contacts_section {
  background-color: #FFFFFF;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .contacts_section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts_section {
    max-width: 1440px;
  }
}

.contacts_title {
  font-family: "Cormorant";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .contacts_title {
    font-size: 47px;
  }
}
@media screen and (min-width: 1440px) {
  .contacts_title {
    font-size: 72px;
  }
}

.contacts_wrapper {
  display: block;
}
@media screen and (min-width: 1440px) {
  .contacts_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.short_info:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .short_info:not(:last-child) {
    margin-bottom: 25px;
  }
}

.contacts_subtitle {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}

.contacts_description {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .contacts_map_img {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts_point_of-location_svg {
  position: absolute;
  bottom: 90px;
  left: 530px;
}

@media screen and (max-width: 1439.98px) {
  .info_wrapper {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1439.98px) {
  .contacts_container {
    text-align: center;
  }
}

.footer_section {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(111, 153, 120);
}
@media screen and (min-width: 768px) {
  .footer_section {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .footer_section {
    max-width: 1440px;
  }
}

.footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .adress_wrapper {
    width: 390px;
  }
}

.logo_footer_logo {
  color: rgb(255, 255, 255);
  font-family: "Chonburi";
  font-size: 32px;
  line-height: 0.8;
  font-weight: 400;
  margin-bottom: 50px;
  display: block;
}
@media screen and (min-width: 768px) {
  .logo_footer_logo {
    font-size: 40px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1440px) {
  .logo_footer_logo {
    font-size: 45px;
  }
}

.logo_footer_media {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 500;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .logo_footer_media {
    margin-bottom: 35px;
  }
}

.media_list {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 125px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .media_list {
    margin-bottom: 55px;
    width: 180px;
  }
}

.adress_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adress_row:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .adress_row:not(:last-child) {
    margin-bottom: 40px;
  }
}

.icon_adress {
  margin-right: 20px;
}

.adress_text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .adress_text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .adress_text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .adress_text_last {
    margin-left: 45px;
  }
}

.payment_wrapper {
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .payment_wrapper {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .payment_wrapper {
    width: 300px;
  }
}

.payment_subtitle {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .payment_subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 767.98px) {
  .app_wraper {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .app_wraper {
    text-align: start;
  }
}
@media screen and (min-width: 1440px) {
  .app_wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 15px;
  }
}

.payment_subtitle_service {
  color: rgb(253, 213, 140);
  margin-bottom: 25px;
}
@media screen and (min-width: 1440px) {
  .payment_subtitle_service {
    margin-bottom: 15px;
  }
}

.payment_service_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1440px) {
  .payment_service_wrapper {
    width: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .stock_wrapper {
    width: 332px;
  }
}

.stock_subtitle {
  font-size: 18px;
  color: rgb(253, 213, 140);
  line-height: 1.2;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .stock_subtitle {
    font-size: 21px;
  }
}
@media screen and (min-width: 1440px) {
  .stock_subtitle {
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .social_media {
    width: 35px;
    height: 35px;
  }
}

.stock_subtitle:not(:last-child) {
  margin-bottom: 18px;
}

.stock_schedule {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .stock_schedule {
    font-size: 20px;
  }
}

.footer_desktop {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1439.98px) {
  .footer_desktop {
    display: none;
  }
}

.footer_mob-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer_mob-tab {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .footer_mob-tab {
    display: none;
  }
}

.footer_inside_mob-tab_left-wrapper {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .footer_inside_mob-tab_left-wrapper {
    width: 330px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .western_union {
    width: 74px;
    height: 27px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .payment_visa {
    width: 72px;
    height: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .payment_paypal {
    width: 104px;
    height: 30px;
  }
}

.footer_payment_mob-tab {
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer_payment_mob-tab {
    margin-bottom: 60px;
  }
}

.icon_adress_location {
  width: 21px;
  height: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .icon_adress_location {
    width: 35px;
    height: 38px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .icon_adress_phone, .icon_adress_time {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 767.98px) {
  .adress_row_time {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer_inside_mob-tab_right-wrapper {
  padding-top: 79px;
  width: 202px;
}
@media screen and (min-width: 768px) {
  .footer_inside_mob-tab_right-wrapper {
    width: 278px;
    padding-top: 82px;
  }
}

@media screen and (max-width: 767.98px) {
  .app_store {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .app_store {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer_download_icons_mob-tab_google {
    width: 218px;
    height: 87px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .footer_download_icons_mob-tab_apstore {
    width: 213px;
    height: 87px;
  }
}

.menu_aside_header {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 40px;
  color: rgb(117, 117, 117);
}

.menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_aside_positions {
  width: 405px;
  padding-left: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_dishes_wrapper {
  width: 1395px;
  margin-bottom: 100px;
}

.menu_sort_by_price {
  margin-left: auto;
  margin-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 261px;
  margin-bottom: 29px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
}

.menu_input_sort_svg {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.menu_sort_by_price_input {
  border: none;
  width: 178px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  background-color: transparent;
}

.menu_sort_by_price_input::-webkit-input-placeholder {
  font-size: 18px;
  text-align: center;
  color: rgb(176, 176, 176);
}

.menu_sort_by_price_input::-moz-placeholder {
  font-size: 18px;
  text-align: center;
  color: rgb(176, 176, 176);
}

.menu_sort_by_price_input:-ms-input-placeholder {
  font-size: 18px;
  text-align: center;
  color: rgb(176, 176, 176);
}

.menu_sort_by_price_input::-ms-input-placeholder {
  font-size: 18px;
  text-align: center;
  color: rgb(176, 176, 176);
}

.menu_sort_by_price_input::placeholder {
  font-size: 18px;
  text-align: center;
  color: rgb(176, 176, 176);
}

.menu_inside_wrapper {
  width: 150px;
  height: 26px;
  margin-top: 14px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_inside_text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.menu_img {
  margin-bottom: 15px;
  border-radius: 10px;
}

.menu_dish_calories-info {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
}

.menu_dish_name {
  font-family: "Cormorant";
  font-size: 32px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 23px;
}

.menu_dish-price_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_dish_price {
  font-size: 35px;
  line-height: 1.2;
  font-weight: 600;
  margin-right: 15px;
}

.menu_dish_rating_svg:not(:last-child) {
  margin-right: 7px;
}

.menu_starts_wrapper {
  margin-right: 20px;
}

.menu_img_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
  padding-right: 60px;
}

.menu_categories_list, .menu_categories_sublist {
  margin-bottom: 40px;
}

.menu_categories_item {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: rgb(27, 27, 27);
}

.menu_categories_item:not(:last-child) {
  margin-bottom: 30px;
}

.menu_aside_demarc_line {
  width: 229px;
  height: 1px;
  background-color: rgb(77, 76, 76);
  margin-bottom: 40px;
}

.menu_link_category:focus {
  font-weight: 500;
  border-left: 1px solid black;
  padding-left: 10px;
}

.menu_link_category:visited {
  color: rgb(27, 27, 27);
}

.menu_img_card {
  width: 307px;
  height: 630px;
  padding-left: 10px;
  border: 1px solid rgb(153, 153, 153);
}

.menu_img_card.load_more {
  text-align: center;
  border: 2px solid rgb(252, 185, 63);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_card_load_more-text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact_title_right_part {
  font-family: "Cormorant";
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.map_right_part_wrapper {
  padding-right: 55px;
}

.contact_title {
  font-size: 45px;
  font-family: "Cormorant";
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 45px;
}

.contact_section_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts_left-part_wrapper {
  margin-left: 75px;
  width: 500px;
}

.delivery_payment_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 75px;
  margin-right: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.delivery_payment_info_wrapper_left-part, .delivery_payment_info_wrapper_right-part {
  width: 600px;
}

.delivery_payment_title {
  font-family: "Cormorant";
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 45px;
}

.delivery_list_rules {
  font-size: 16px;
  line-height: 1.2;
}

.about_us_section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFEFD), color-stop(15.1%, #FCF8F0), color-stop(34.9%, #F3ECDF), color-stop(64.58%, #DCD1BE), color-stop(92.19%, #F3ECDF));
  background-image: linear-gradient(to bottom, #FFFEFD 0%, #FCF8F0 15.1%, #F3ECDF 34.9%, #DCD1BE 64.58%, #F3ECDF 92.19%);
  padding-bottom: 100px;
}

.about_us_history_higher-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.about_us_history_text_higher_wrapper {
  width: 750px;
}

.about_us_title {
  font-family: "Cormorant";
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
}

.about_us_history_text_higher {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 70px;
}

.about_us_history_losung_higher {
  text-align: center;
  font-family: "Cormorant";
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.about_us_history_lower-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 75px;
  padding-right: 75px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.about_us_left-part_wrapper {
  width: 830px;
}

.about_us_left-part_text-wrapper {
  margin-bottom: 92px;
}

.about_us_history_text_lower {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
}

.about_us_history_text_lower:not(:last-child) {
  margin-bottom: 43px;
}

.about_us_left-part_losung {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 81px;
}

.about_us_right-part_wrapper {
  width: 774px;
}

.about_us_restaraunt_interiror_img {
  margin-bottom: 340px;
  margin-left: auto;
}

.about_us_right-part_losung {
  font-family: "Cormorant";
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
}

.about_us_chef_img {
  position: absolute;
  top: 451px;
  right: 424px;
}/*# sourceMappingURL=main.css.map */