.contacts_section {
background-color: #FFFFFF;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @include mq(tablet) {
        max-width: 768px;
    }

    @include mq(desktop) {
        max-width: 1440px;
    }
}


.contacts_title {
    font-family: 'Cormorant';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 35px;

    @include mq(tablet) {
        font-size: 47px;
    }

         @include mq(desktop) {
            font-size: 72px;
         }


}

.contacts_wrapper {
   display: block;


@include mq(desktop) {
    display: flex;
    justify-content: space-between;
}  
}


.short_info:not(:last-child) {
margin-bottom: 20px;

    @include mq(desktop) {
       margin-bottom: 25px; 
    }
    
}
.contacts_subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contacts_description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5px;
}

.contacts_map_img {

    @include mq(tablet-only) {
        margin-left: auto;
    margin-right: auto;
    }
    
}

.contacts_point_of-location_svg {
    position: absolute;
    bottom: 90px;
    left:530px;
}


.info_wrapper {

    @include mq(not-desktop) {
        margin-bottom: 35px;
    }
}


.contacts_container {
    @include mq(not-desktop) {
        text-align: center;
    }
}


