.contacts_section {
    margin-bottom: 100px;
   
}

.contacts_title {
    margin-left: 75px;
    font-family: 'Cormorant';
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 35px;
}

.contacts_wrapper {
    padding-left: 75px;
    display: flex;
    justify-content: space-between;
    width: 1440px;
    
}


.short_info:not(:last-child) {
    margin-bottom: 30px;
}
.contacts_subtitle {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.contacts_description {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 5px;
}

.map_wrapper {
    width: 830px;
    height: 518px;
    position: relative;
}

.contacts_point_of-location_svg {
    position: absolute;
    bottom: 90px;
    left:530px;
}




