.footer {
    height: 355px;
    background-color: rgba(111, 153, 120, 1) ;
}

.footer_wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.adress_wrapper {
    width: 390px;
}

.logo_footer_logo {
    color: rgba(255, 255, 255, 1);
    font-family: 'Chonburi';
    font-size: 40px;
    line-height: 0.8;
    font-weight: 400;
    margin-bottom: 30px;
    display: block;
}

.logo_footer_media {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.media_list {
    display: flex;
    width: 125px;
    justify-content: space-between;
}


.adress_row {
    display: flex;
    align-items: center;
}

.icon_adress {
    margin-right: 20px;
}

.adress_text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}



.adress_row:not(:last-child) {
margin-bottom: 24px;
}

.adress_text_last {
    margin-left: 45px;
}


.payment_wrapper {
    width: 300px;
    margin-bottom: 24px;
}

.payment_subtitle {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.app_wraper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.payment_subtitle_service {
    color: rgba(253, 213, 140, 1);
    margin-bottom: 15px;
}

.payment_service_wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.stock_wrapper {
    width: 332px;
}

.stock_subtitle {
    color: rgba(253, 213, 140, 1);
    font-size: 23px;
    line-height: 1.2;
    font-weight: 600;
}

.stock_subtitle:not(:last-child) {
    margin-bottom: 18px;
}

.stock_schedule {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
    color: #FFFFFF;
}