.menu_container {
    text-align: center;
}



.menu__title {
    font-family: 'Cormorant';
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 40px;

    @include mq(tablet) {
        font-size: 47px;
    }

    @include mq(desktop) {
        font-size: 60px;
    }
    
}


.main_menu_img {
    @include mq(mobile-only) {
         margin-bottom: 20px; 
    }
  

    
}


.menu_dishes__wrapper {
    margin-bottom: 40px;

    @include mq(tablet-only) {
            display: flex;
            gap: 55px;
            flex-wrap: wrap;
        }

@include mq(desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
}
   
}

.container__slider {
    // min-width: 1190px;
    // margin-left: 60px;
    // overflow: hidden;

}











.menu__btn_menu {
        width: 230px;
            height: 60px;
            text-align: center;
            background-color: rgba(252, 185, 63, 1);
                border: 1px solid rgba(153, 153, 153, 1);
                border-radius: 10px;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.2;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom:60px ;

            @include mq(tablet) {
                width: 300px;
                height: 75px;
                font-size: 20px;
            }

            @include mq(desktop) {
                margin-bottom: 90px;
            }
}

.special-dishes__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    // gap: 10px;
  

    @include mq(tablet) {
        max-width: 768px;
}

        @include mq(desktop) {
            max-width: 1440px;
        }

}

.desktop__picture {
    @include mq(not-desktop) {
        display: none;
    }
}

.btn_slider {
    background-color: transparent;

    @include mq(not-desktop) {
        display: none;
    }
}

