.reservation_section {
background-color: #FFFFFF;
max-width: 480px;

@include mq(tablet) {
    max-width: 768px;
}

@include mq(desktop) {
    max-width: 1440px;
}
}



.reservation_wrapper {
   @include mq(mobile) {
    display: block;
   }


   @include mq(desktop) {
   
    
    position: relative;
   }
 
   
}

.reservation_title {
font-family: 'Cormorant';
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
    font-size: 40px;
    text-align: center;

    @include mq(tablet) {
    font-size: 47px;
}

@include mq(desktop) {
    font-size: 72px;
    margin-bottom: 35px;
    text-align: start;
}
    
}


.reservation_flex_wrapper_desktop {
    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
    }
}


.reserve_schedule_mob-tab {
   text-align: center;

    @include mq(desktop) {
        display: none;
    }
}

.reserve_schedule_desktop {
@include mq(not-desktop) {
        display: none;
    }

}

.fork_img {

    @include mq(not-desktop) {
        display: none;
    }

    @include mq(desktop) {
    position: absolute;
    top: -5px;
    left: 650px; 

   
    }
   
}

.reserve_form {
    max-width: 480px;
    min-height: 530px;
    border: 2px solid rgba(90, 110, 90, 1);
    border-radius: 10px;
    background-color: rgba(254, 250, 224, 1);
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;



@include mq(tablet-only) {
    max-width: 594px;
    height: 656px;
    margin-left: auto;
    margin-right: auto;
}

@include mq(desktop) {
    max-width: 780px;
    min-height: 480px;
    padding: 40px;
    margin: 0;
    z-index: 55;
}  
}


.inputs_wrapper {
@include mq(mobile) {
    display: block;
}

@include mq(desktop) {
      display: flex
}
  ;
}

.inputs_group {
    border: none;
    padding: 0;
}

.reservation_input_wrapper {
    height: 65px;
    margin-bottom: 20px;
    position: relative;
  

        @include mq(tablet-only) {
            margin-bottom: 25px;
            height: 80px;
        }


    @include mq(desktop) {
    margin-bottom: 40px; 
    }
    
}

.resrev_icon {
    position: absolute;
    top: 20px;
    right: 21px ;
    cursor: pointer;
}

.reservation_input {
    width: 100%;
    height: 65px;
    padding-left: 13px;
    padding-right: 45px;
    border-radius: 5px;
    border: 1px solid rgba(132, 157, 138, 1);
    font-size: 20px;
    cursor: pointer;

    @include mq(desktop) {
        width: 310px;
    }
    
}

.reservation_input::placeholder {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Montserrat';
}

.btn_submit_form_reservation {
    width: 250px;
    height: 75px;
    background-color: rgba(252, 185, 63, 1);
        border: 1px solid rgba(153, 153, 153, 1);
        border-radius: 10px;
    font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.reserve_btn-mob-tab {
    @include mq(desktop) {
        display: none;
    } 
}

.reserve_btn-desktop {
    @include mq(not-desktop) {
        display: none;
    }
}

.title_schedule {
font-family: 'Cormorant';
font-size: 30px;
font-weight: 700;
line-height: 1.2;
margin-bottom: 20px;

@include mq(tablet) {
    font-size: 40px;
}


@include mq(desktop) {
    font-size: 60px;
    margin-bottom: 35px;
}
}

.schedule_item:not(:last-child) {

    @include mq(mobile) {
        margin-bottom: 20px;
    }

    margin-bottom: 35px;
}

.works_days {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;

    @include mq(tablet) {
            font-size: 28px;
        }

    @include mq(desktop) {
    font-size: 24px;
    }
}


.works_hours {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

@include mq(tablet) {
        font-size: 25px;
    }

}

.works_hours:not(:last-child) {
    margin-bottom: 3px;
}




