.terms_of_delivery__section {
    padding-left: 75px;
    padding-right: 75px;
    margin-bottom: 100px;
}

.terms_description {
    display: flex;
    width: 1290px;
    position: relative;
}

.terms_title {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 62px;
    line-height: 1.2;
    margin-bottom: 35px;
}

.delivery_wrapper_left {
    width: 530px;
}

.text_description {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
   
}

.text_description:not(:last-child) {
margin-bottom: 35px;
}

.text_description:last-child {
    margin-bottom: 90px;
}

.terms_losung {
    display: block;
    width: 480px;
    font-family: 'Cormorant';
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 70px;
}

.btn_delivery-payment {
    width: 250px;
    height: 75px;
    background-color: rgba(252, 185, 63, 1);
        border: 1px solid rgba(153, 153, 153, 1);
        border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.terms_icon_wrapper {
    width: 270px;
    height: 250px;
    border: 1px solid rgba(214, 214, 214, 1);
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.wrapper_order {
    position: absolute;
    right: 427px;
    top: 0;  
}

.wrapper_payment {
    position: absolute;
        right: 0;
        top: 0;
}

.wrapper_packing {
    position: absolute;
    right: 542px;
    top: 390px;
}

.wrapper_delivery {
    position: absolute;
    top: 390px;
    right: 152px;
}

.delivery_number_step {
    font-family: 'Cormorant';
    font-size: 82px;
    font-weight: 700;
    line-height: 1.2;
}

.step_01 {
    position: absolute;
    right: 380px;
    top: -50px;
}

.step_02 {
    position: absolute;
        right: 270px;
        top: 150px;
}

.step_03 {
    position: absolute;
    right: 500px;
    top: 312px;
}

.step_04 {
    position: absolute;
    right: 85px;
    top: 485px;
}


.terms_icon {
    margin-bottom: 15px;
}
.terms_icon-order, .terms_icon-payment {
    margin-top: 37px; 
}

.terms_icon-packing, .terms_icon-delivery {
margin-top: 27px;
}

.title_delivery_step {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}

.delivery_step_description {
font-size: 18px;
font-weight: 300;
line-height: 1.2;
}