
.delivery_wrapper_right {
    @include mq(not-desktop) {
        display: none;
    }
}

.terms_description {

    @include mq(desktop) {
            display: flex;
                width: 1290px;
                position: relative;
    }

}

.terms_title {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 25px;

    @include mq(tablet-only) {
        font-size: 47px;
        display: flex;
        justify-content: center;
    }

    @include mq(desktop) {
        font-size: 62px;
        margin-bottom: 35px;
    }
}

.delivery_wrapper_left {
    @include mq(desktop) {
      width: 530px;  
    }
    
}

.text_description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2; 

    @include mq(tablet) {
        font-size: 20px;
    }

    @include mq(not-desktop) {
        text-align: center;
    }
}

.text_description_second, .text_description_third {
    @include mq(not-desktop) {
        display: none;
    }
}

.text_description:not(:last-child) {
margin-bottom: 35px;
}

.text_description:last-child {
    margin-bottom: 90px;
}

.delivery_terms_losung {
    display: block;
    width: 480px;
    font-family: 'Cormorant';
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 70px;

    @include mq(not-desktop) {
        display: none;
    }
}

.btn_delivery-payment {
    width: 250px;
    height: 75px;
    background-color: rgba(252, 185, 63, 1);
        border: 1px solid rgba(153, 153, 153, 1);
        border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}





.delivery_mob-tab_numbers {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include mq(tablet-only) {
        width: 510px;
        margin-left: auto;
        margin-right: auto;
    }
}


.delivery_mob-tab_wrapper {
    @include mq(desktop) {
        display: none;
    }
}


.delivery_mob-tab_icon_description {
    text-align: center;
    padding-bottom: 35px ;  
    margin-bottom: 35px;
    margin-top: 25px;
    border: 1px solid rgba(214, 214, 214, 1);
    border-radius: 5px;

    @include mq(tablet-only) {
        width: 366px;
        margin-left: auto;
        margin-right: auto;
    }

}

.delivery_mob-tab_add_info {
    font-size: 16px ;
    font-weight: 200;
    line-height: 1.2;
    margin-bottom: 45px;
}









.terms_icon_wrapper {
    width: 270px;
    height: 250px;
    border: 1px solid rgba(214, 214, 214, 1);
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.wrapper_order {
    position: absolute;
    right: 427px;
    top: 0;  
}

.wrapper_payment {
    position: absolute;
        right: 0;
        top: 0;
}

.wrapper_packing {
    position: absolute;
    right: 542px;
    top: 370px;
}

.wrapper_delivery {
    position: absolute;
    top: 370px;
    right: 152px;
}

.delivery_number_step {
    font-family: 'Cormorant';
    font-weight: 700;
    line-height: 1.2;
    font-size: 82px;
    color: rgba(132, 157, 138, 1);
}

.step_01 {
@include mq(not-desktop) {
    border-bottom: 3px solid black;
    color: black;
}
    
@include mq(desktop) {
      position: absolute;
    right: 380px;
    top: -50px;
}
  
}

.step_02 {
    position: absolute;
        right: 270px;
        top: 150px;
}

.step_03 {
    position: absolute;
    right: 500px;
    top: 292px;
}

.step_04 {
    position: absolute;
    right: 85px;
    top: 465px;
}


.terms_icon {
    margin-bottom: 15px;
}
.terms_icon-order, .terms_icon-payment {
    margin-top: 37px; 
}

.terms_icon-packing, .terms_icon-delivery {
margin-top: 27px;
}

.title_delivery_step {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}

.delivery_step_description {
font-size: 18px;
font-weight: 300;
line-height: 1.2;
}