.delivery_payment_info_wrapper {
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.delivery_payment_info_wrapper_left-part, .delivery_payment_info_wrapper_right-part {
    width: 688px;
}

.delivery_payment_title {
    font-family: 'Cormorant';
    font-size: 52px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 45px;
}

.delivery_list_rules {
    font-size: 16px;
    line-height: 1.2;
}