.contact_title {
    font-size: 52px;
    font-family: 'Cormorant';
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
}

.contact_section_wrapper {
    display: flex;
}

.contacts_left-part_wrapper {
    margin-left: 120px;
} 
  
.contact_title_left_part {
font-family: 'Cormorant';
font-size: 52px;
line-height: 1.2;
font-weight: 700;
margin-bottom: 45px;
}
       



.contacts_point_of-location_svg {
    position: absolute;
    bottom: 97px;
    left:527px;
}