
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}




body {
    margin: 0;
    font-family:'Montserrat',  sans-serif;
    background-color: #F5F5F5;
}

.section {
padding-bottom: 60px;
margin-left: auto;
margin-right: auto;

@media screen and (min-width: 1440px) {
    padding-bottom: 100px;
    }
}

// navigation--------------------------------------------------

.current_page_wrapper {
    margin-left: 75px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.current_page_home {
    font-family: 'Cormorant';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;
}

.current_page{
    font-weight: 700;
    border-bottom: 1.5px solid black;
}
// -------------------------------------------------------------


